.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menus {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menus a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}